body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ),url(login_background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float:none;
    margin: 150px auto;
    
}

/* .form-group{
    background-color: white;

} */

.col-md-6{
    background-color: white;
}

.col-md-6 button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: gold;
    width: 100%;
    border: 60;
    border-color: black;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;

}

.col-md-6 button:hover, .col-md-6 button:active{
    background: goldenrod;
}
/* .login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    color: white;
    background-color: transparent;
    max-width: 360;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    
    background-color: whitesmoke;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: gold;
    width: 100%;
    border: 60;
    border-color: black;
    padding: 15px;
    color: black;
    font-size: 14px;
    cursor: pointer;

}

.form button:hover, .form button:active{
    background: goldenrod;
}

.form .message{
    margin: 15px 0 0;
    background-color: transparent;
    color: white;
    font-size: 12px;
}

.form .message a{
    color: greenyellow;
    text-decoration: none;
}

.form .register-form{
    display: none;
} */